
          #unit-zqit5Iq1gc8uK4S {
            padding-right: 1.5vw;
          }
          #unit-zqit5Iq1gc8uK4S .ce-image {
            height: 100%;
            width: 100%;
            --image-effect: 2;
          }
          @media(max-width:1199px) {
            #unit-zqit5Iq1gc8uK4S .ce-image_inner {
              justify-content: center;
            }
          }
          @media(max-width:767px) {
            #unit-zqit5Iq1gc8uK4S {
              padding-right: 0;
            }
          }
        