
        #cell-Q3V3CZrFLnqN1Mu {
          padding-right: 1.5vw;
        }
        @media(max-width:767px) {
          #cell-Q3V3CZrFLnqN1Mu {
            padding-right: 0vw;
            padding-top: 2vw;
          }
        }
      