
        #cell-aMj0JJHzlGktg27 {
          padding-right: 1.5vw;
        }
        @media(max-width:767px) {
          #cell-aMj0JJHzlGktg27 {
            padding-right: 0vw;
            padding-bottom: 0vw;
            padding-top: 2vw;
          }
        }
      