
          #unit-sPmFkyscxLBEXD6 .ce-image_inner {
            justify-content: center;
          }
          #unit-sPmFkyscxLBEXD6 .ce-image_item{
            --image-scale:1;
            padding-top:100%;
          }
          #unit-sPmFkyscxLBEXD6 .ce-image {
            max-height:100%;
            --image-effect:5;
          }
        