.image-zoom-move{ position: absolute; z-index: 2; display: none; background-color: #000; opacity: .5; }
.image-zoom-glass{ position: fixed; transition: all .3s; z-index: 10; display: none; overflow: hidden; }
.image-zoom-move.show, 
.image-zoom-glass.show { display: block; }
.image-zoom-glass_image{ position: absolute; left: 0; top: 0; max-width: none; }