
          #unit-MOm8kmKhNBGTkjg .ce-image_inner {
            justify-content: center;
          }
          #unit-MOm8kmKhNBGTkjg .ce-image {
            height: 100%;
            width: 100%;
            --image-effect: 2;
          }
        