
        #cell-o8LoWLnm9Pv0knj {
          padding-right: 1.5vw;
        }
        @media(max-width:767px) {
          #cell-o8LoWLnm9Pv0knj {
            padding-right: 0vw;
            padding-top: 2vw;
          }
        }
      